body{
	height: none;
}

*{
	font-family: 'Open Sans', sans-serif;
}
h6{
	font-family: 'Open Sans Condensed', sans-serif;
}
.flyLogo{
	width: 100%;
	height: 180px;
	background: url(../img/fly-logo.png);
	background-repeat: no-repeat;
	background-position: center 12px;
	background-size: 360px;
}
.icon-bar{
	background-color: black;
}
.navbar{
	margin-bottom: 0;
	border-top: 2px solid #989898;
	border-bottom: 2px solid #989898;
}
#navbar{
	/*border-top: 1px solid #989898;
	border-bottom: 1px solid #989898;*/
}
.mainImg{

}
.navbar-form{
	margin-top: 0;
	margin-bottom: 0; 
}
.nav>li>a:hover, 
.nav>li>a:focus{
	background-color: #1C668B;
	color: white !important;
}
.productImg{
	margin-bottom: 15px;
}
.verMasBtn{
	color: white;
	margin-bottom: 0;
	font-size: 18px;
}
.verMasBtn:hover{
	color: white;
}
.sectores{
	margin-top: 18px;

}
.sectores > div{
	margin-bottom: 10px;
}

.res, .hotel, .indus, .otros{
	padding-bottom: 18px;
	color: white;
}
.res h2, .hotel h2, .indus h2, .otros h2{
	color: white;
	margin-left: 3%;
	padding-bottom: 5px;
	border-bottom: 2px solid white;
	width: 90%;
	display: block;
	margin-bottom: 0;
}
.res{
	background-color: #3cceb5;
}
.hotel{
	background-color: #4aa0d2
}
.indus{
	background-color: #92a3ac;
}
.otros{
	background-color: #61b58e;
}
#navbar li{
	display: inline-block;
	color: #989898;
	font-size: 18px;
}
#navbar li a{
	color: inherit;
}
.Layer_12 {
  background-image: url("Layer 12.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 2258px;
  z-index: 58;
}
.main{
	background: #b5b0b7; /* Old browsers */
	background: -moz-linear-gradient(top, #b5b0b7 0%, #d4d4dc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5b0b7), color-stop(100%,#d4d4dc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b5b0b7 0%,#d4d4dc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b5b0b7 0%,#d4d4dc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b5b0b7 0%,#d4d4dc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b5b0b7 0%,#d4d4dc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b0b7', endColorstr='#d4d4dc',GradientType=0 );
}

.resume{
	margin-top: 20px;
	font-size: 18px;
}

.resume .queEs{
	margin-top: 2%;
}

.plecaResume{
	width: 90%;
	height: 4px;
	margin: 25px auto;
	background: #7d7d7d;
}
.footerDatos{
	padding: 10px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.plecaEntera{
	width: 100%;
	height: 2px;
	background: #7d7d7d;
	margin-bottom: 10px;
}
.footerDatos h6{
	font-size: 25px;
}
.pt10{
	padding-top: 18px;
}
.footContacto{
	margin-top: 30px;
}
.footContacto a{
	color: white;
}
.followUs{
	margin-top: 5%;
}
.redesFoot img{
	width: 40px;
	margin: 5px 1%;
}
footer{
	background: #b3b2b7;
	color: white;
}

footer .legal{
	background: #858586;
	font-weight: 400;
	font-size: 13px;
	padding: 17px 0;
	margin-bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
}
footer .legal p{
	margin-bottom: 0;
}
@media screen and (max-width: 766px) {
	#navbar li{
		display: block;
	}
}